<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slice_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,97}</string>
                <key>spriteSourceSize</key>
                <string>{73,97}</string>
                <key>textureRect</key>
                <string>{{1,443},{73,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,97}</string>
                <key>spriteSourceSize</key>
                <string>{73,97}</string>
                <key>textureRect</key>
                <string>{{100,443},{73,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,97}</string>
                <key>spriteSourceSize</key>
                <string>{74,97}</string>
                <key>textureRect</key>
                <string>{{1,1193},{74,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,97}</string>
                <key>spriteSourceSize</key>
                <string>{73,97}</string>
                <key>textureRect</key>
                <string>{{1,518},{73,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,97}</string>
                <key>spriteSourceSize</key>
                <string>{74,97}</string>
                <key>textureRect</key>
                <string>{{100,1193},{74,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,97}</string>
                <key>spriteSourceSize</key>
                <string>{72,97}</string>
                <key>textureRect</key>
                <string>{{1,147},{72,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,97}</string>
                <key>spriteSourceSize</key>
                <string>{74,97}</string>
                <key>textureRect</key>
                <string>{{1,1269},{74,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,97}</string>
                <key>spriteSourceSize</key>
                <string>{74,97}</string>
                <key>textureRect</key>
                <string>{{100,1269},{74,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,97}</string>
                <key>spriteSourceSize</key>
                <string>{72,97}</string>
                <key>textureRect</key>
                <string>{{100,147},{72,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,97}</string>
                <key>spriteSourceSize</key>
                <string>{73,97}</string>
                <key>textureRect</key>
                <string>{{100,518},{73,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,97}</string>
                <key>spriteSourceSize</key>
                <string>{73,97}</string>
                <key>textureRect</key>
                <string>{{1,593},{73,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,97}</string>
                <key>spriteSourceSize</key>
                <string>{74,97}</string>
                <key>textureRect</key>
                <string>{{1,1345},{74,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,97}</string>
                <key>spriteSourceSize</key>
                <string>{71,97}</string>
                <key>textureRect</key>
                <string>{{1,1},{71,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,98}</string>
                <key>spriteSourceSize</key>
                <string>{73,98}</string>
                <key>textureRect</key>
                <string>{{100,593},{73,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,98}</string>
                <key>spriteSourceSize</key>
                <string>{73,98}</string>
                <key>textureRect</key>
                <string>{{1,668},{73,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,98}</string>
                <key>spriteSourceSize</key>
                <string>{74,98}</string>
                <key>textureRect</key>
                <string>{{100,1345},{74,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,98}</string>
                <key>spriteSourceSize</key>
                <string>{73,98}</string>
                <key>textureRect</key>
                <string>{{101,668},{73,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,98}</string>
                <key>spriteSourceSize</key>
                <string>{74,98}</string>
                <key>textureRect</key>
                <string>{{1,1421},{74,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,98}</string>
                <key>spriteSourceSize</key>
                <string>{72,98}</string>
                <key>textureRect</key>
                <string>{{1,221},{72,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,98}</string>
                <key>spriteSourceSize</key>
                <string>{74,98}</string>
                <key>textureRect</key>
                <string>{{101,1421},{74,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,98}</string>
                <key>spriteSourceSize</key>
                <string>{74,98}</string>
                <key>textureRect</key>
                <string>{{1,1497},{74,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,98}</string>
                <key>spriteSourceSize</key>
                <string>{72,98}</string>
                <key>textureRect</key>
                <string>{{101,221},{72,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,98}</string>
                <key>spriteSourceSize</key>
                <string>{73,98}</string>
                <key>textureRect</key>
                <string>{{1,743},{73,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,98}</string>
                <key>spriteSourceSize</key>
                <string>{73,98}</string>
                <key>textureRect</key>
                <string>{{101,743},{73,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,98}</string>
                <key>spriteSourceSize</key>
                <string>{74,98}</string>
                <key>textureRect</key>
                <string>{{101,1497},{74,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_2_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,98}</string>
                <key>spriteSourceSize</key>
                <string>{71,98}</string>
                <key>textureRect</key>
                <string>{{100,1},{71,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_3_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,98}</string>
                <key>spriteSourceSize</key>
                <string>{73,98}</string>
                <key>textureRect</key>
                <string>{{1,818},{73,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,98}</string>
                <key>spriteSourceSize</key>
                <string>{73,98}</string>
                <key>textureRect</key>
                <string>{{101,818},{73,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_3_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,98}</string>
                <key>spriteSourceSize</key>
                <string>{74,98}</string>
                <key>textureRect</key>
                <string>{{1,1573},{74,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_3_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,98}</string>
                <key>spriteSourceSize</key>
                <string>{73,98}</string>
                <key>textureRect</key>
                <string>{{1,893},{73,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_3_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,98}</string>
                <key>spriteSourceSize</key>
                <string>{74,98}</string>
                <key>textureRect</key>
                <string>{{101,1573},{74,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,98}</string>
                <key>spriteSourceSize</key>
                <string>{72,98}</string>
                <key>textureRect</key>
                <string>{{1,295},{72,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,98}</string>
                <key>spriteSourceSize</key>
                <string>{74,98}</string>
                <key>textureRect</key>
                <string>{{1,1649},{74,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,98}</string>
                <key>spriteSourceSize</key>
                <string>{74,98}</string>
                <key>textureRect</key>
                <string>{{101,1649},{74,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,98}</string>
                <key>spriteSourceSize</key>
                <string>{72,98}</string>
                <key>textureRect</key>
                <string>{{101,295},{72,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,98}</string>
                <key>spriteSourceSize</key>
                <string>{73,98}</string>
                <key>textureRect</key>
                <string>{{101,893},{73,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,98}</string>
                <key>spriteSourceSize</key>
                <string>{73,98}</string>
                <key>textureRect</key>
                <string>{{1,968},{73,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,98}</string>
                <key>spriteSourceSize</key>
                <string>{74,98}</string>
                <key>textureRect</key>
                <string>{{1,1725},{74,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_3_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,98}</string>
                <key>spriteSourceSize</key>
                <string>{71,98}</string>
                <key>textureRect</key>
                <string>{{1,74},{71,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_4_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,97}</string>
                <key>spriteSourceSize</key>
                <string>{73,97}</string>
                <key>textureRect</key>
                <string>{{101,968},{73,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,97}</string>
                <key>spriteSourceSize</key>
                <string>{73,97}</string>
                <key>textureRect</key>
                <string>{{1,1043},{73,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_4_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,97}</string>
                <key>spriteSourceSize</key>
                <string>{74,97}</string>
                <key>textureRect</key>
                <string>{{101,1725},{74,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_4_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,97}</string>
                <key>spriteSourceSize</key>
                <string>{73,97}</string>
                <key>textureRect</key>
                <string>{{100,1043},{73,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_4_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,97}</string>
                <key>spriteSourceSize</key>
                <string>{74,97}</string>
                <key>textureRect</key>
                <string>{{1,1801},{74,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,97}</string>
                <key>spriteSourceSize</key>
                <string>{72,97}</string>
                <key>textureRect</key>
                <string>{{1,369},{72,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_4_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,97}</string>
                <key>spriteSourceSize</key>
                <string>{74,97}</string>
                <key>textureRect</key>
                <string>{{100,1801},{74,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_4_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,97}</string>
                <key>spriteSourceSize</key>
                <string>{74,97}</string>
                <key>textureRect</key>
                <string>{{1,1877},{74,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_4_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,97}</string>
                <key>spriteSourceSize</key>
                <string>{72,97}</string>
                <key>textureRect</key>
                <string>{{100,369},{72,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_4_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,97}</string>
                <key>spriteSourceSize</key>
                <string>{73,97}</string>
                <key>textureRect</key>
                <string>{{1,1118},{73,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_4_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,97}</string>
                <key>spriteSourceSize</key>
                <string>{73,97}</string>
                <key>textureRect</key>
                <string>{{100,1118},{73,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_4_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,97}</string>
                <key>spriteSourceSize</key>
                <string>{74,97}</string>
                <key>textureRect</key>
                <string>{{100,1877},{74,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice_4_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,97}</string>
                <key>spriteSourceSize</key>
                <string>{71,97}</string>
                <key>textureRect</key>
                <string>{{101,74},{71,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{200,1952}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb70aa7738867f4628adc4bd9bebe0c4:b2215bbb6a27dad9c52276b12d92049a:fc86278e5045194fe7638df41a1aa4f3$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
